@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}

@mixin unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin display-flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin from-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin custom-breakpoint($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}
