@import "/@/assets/scss/variables";
@import "/@/assets/scss/mixins";

.contacts {
  clear: both;
  display: flex;
  height: 85vh;
  justify-content: space-between;
  margin: auto;
  max-width: 90%;
  padding: 10em 0 0;
  position: relative;

  @include mobile {
    flex-direction: column;
    max-width: 100%;
  }
}
